// Navigation Styles here
.nav-bar {
    .flex(space-between);
    border-bottom: 2px dashed @navigation-border;
    margin-top: 2%;
    padding-bottom: 2%;
    width: 100%;

    nav{
        .flex(space-between);
        width:44%;
    }

    nav a{
        text-decoration: none;
        font-size:@font-small;
        color: black;
        text-align:center;
        line-height:@font-huge;
    }
}