// Navigation Styles here
.nav-bar {
    .flex(@align:baseline);
    border-bottom: 2px dashed @navigation-border;
    margin-top: 2%;
    padding-bottom: 2%;

    h1{
        width: 55%;
        display:inline-block;
    }

    nav{
        .flex(space-between);
        display:inline-block;
        width:44%;
    }

    nav a{
        text-decoration: none;
        width: 24%;
        display:inline-block;
        font-size:@font-small;
        color: black;
        text-align:center;
    }
}